extends ../layout

block content
  .container

    // BREADCRUMBS
    .row.mt-3
      .col.container-log-breadcrumbs
        ol.breadcrumb.z-depth-1
          li.breadcrumb-item.active Servers

    // SERVERLIST
    .row
      .col.container-log.z-depth-1
        each server in servers
          .card.text-center.hoverable.m-3
            a(href="/log/server/" + server.id)
              .card-block
                p.card-text= server.name

