extends layoutprelogin

block content
  .container(style='margin-top:40px')
    .row
      .col-sm-6.col-md-8.col-md-offset-2

        if messages
          for m in messages.error
            .alert.alert-danger.alert-dismissable(role="alert")
              button.close(type="button", data-dismiss="alert", aria-label="Close")
                span(aria-hidden="true") &times;
              | #{m}
          for m in messages.success
            .alert.alert-success.alert-dismissable(role="alert")
              button.close(type="button", data-dismiss="alert", aria-label="Close")
                span(aria-hidden="true") &times;
              | #{m}

        .panel.panel-default
          .panel-heading
            strong  Log in to #{hostname}
          .panel-body
            form(role='form', action='/login', method='POST')
              fieldset
                .row
                  .center-block
                    img.profile-img(src='https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120', alt='')
                .row
                  .col-sm-12.col-md-8.col-md-offset-2
                    .form-group.required
                      .input-group
                        span.input-group-addon
                          i.glyphicon.glyphicon-user
                        input.form-control(placeholder='Account name', name='username', type='text', autofocus='')

                    .form-group.required
                      .input-group
                        span.input-group-addon
                          i.glyphicon.glyphicon-lock
                        input.form-control(placeholder='Password', name='password', type='password', value='')


                    .form-group
                      input.btn.btn-lg.btn-primary.btn-block(type='submit', value='Login')

          .panel-footer
            | Don't have an account?
            a(href='/signup', onclick='')  Sign up here